  <div class="field">
    <%= response.label :public_part %>
    <%= response.text_area :public_part  %>
  </div>
  <div class="field">
    <%= response.label :private_part %>
    <%= response.text_area :private_part  %>
  </div>

