// Place all the styles related to the Requestors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#requestor_notes { width: 640px; }
