// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_request fieldset { width: 604px; margin-bottom: 12px; }
#state-description { display: inline-block; width: 400px; margin-left: 24px; vertical-align: top; }
#request_body { width: 640px; }
#request_lgcs_term { width: 640px; }
#lgcs_term { margin: 12px; font-weight: bold; }
#lgcs_term span { background: yellow; padding: 2px; }
