  <div class="field">
    <%= requestor.label :name, "Name of requestor" %><br />
    <%= requestor.text_field :name, :size => 60 %>
  </div>
  <div class="field">
    <%= requestor.label :email, "Email address" %><br />
    <%= requestor.text_field :email, :size => 60 %>
  </div>
