  <% @requestor_editable = true if @requestor_editable.nil? %>
  <div class="field">
    <%= requestor.label :name, "Name of requestor" %>
    <%= requestor.text_field :name, :size => 60 %>
  </div>
  <div class="field">
    <%= requestor.label :email, "Email address" %>
    <%= requestor.text_field :email, :size => 60, :disabled => !@requestor_editable %>
  </div>
